/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* regole header */
header{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    border: 1px solid #000;
}

#logo {
    display: flex;
    align-items: center;
}

#logo h1{
    margin-left: 10px;
}

button{
    padding:  2px 20px;
}

/* regole main */





/* regole footer */
footer{
    padding: 20px 20px;
    /* debug */
    border: 1px solid #000;
}